.container {
    text-align: center;
    margin: 0 auto;
}
.nav a {
    font-family: 'Montserrat', sans-serif;
    color: red;
    text-decoration: none;
}
.item {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
nav {
   margin: 25px 0 25px 0;
}
li {
    margin-right: 70px;
}
.nav :last-child {
    margin-right: 0;
}
img {
    width: 100%;
}
.content {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.page-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 50px;
}
.page-title {
    text-align: center;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
}
.text1 {
    margin-top: 40px;
    padding: 0 67px;
}
.text2 {
    margin-top: 30px;
    padding: 0 67px;
}

.link-button {
    text-align: center;
    margin-top: 65px;
}
.link-button a {
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 18px 43px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 4px;
}
footer {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 29px;
    margin-top: 80px;
}
.container p {
    text-align: right;
    margin-right: 105px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}